body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background-page);
}

#root {
  position: relative;

  width: 375px;
  height: 700px;
  min-width: 375px;

  background-color: var(--color-background-app);
}

.app {
  height: 100%;
  padding: 16px 24px;
}
