.icon-box {
  width: 32px;
  height: 32px;
}

.icon-content {
  color: var(--gray-700);
}

.icon-content.is-valid {
  cursor: pointer;
  color: var(--gray-400);
}

.icon-content.is-valid:hover {
  color: var(--mint);
}
